@media (min-width: 768px){
/* NAVIGATION */
/* Navigation */
  .navbar {
    width: 100%;
    padding-top: 20px;
  }
  ul {
    display: flex;
    justify-content: Flex-end;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    flex: 1 15%;
    padding: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    /* height: 200px; */
  }
  nav ul li a {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    padding-top: 0;
    height: 75px;



  }

  li a:hover {
 }

/* BODY START */

  .none {
    float: right;
    margin: 20px;
  /* MOVE TO Media query   */
  }
  .main-section{
    display: flex;
    /* flex: 1 50%; */
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content {
    flex: 1 300px;
    /* margin: auto; */
    padding: auto;
  }






}


@media (min-width: )
