/* Universals */
* {
  text-align: center;
  font-family: 'Cousine'; font-size: 26px;

}
/* Navigation */
ul, a {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
}

nav ul li a {
  color: rede;
  border: 1px yellow solid;
}

li a:hover {

}


/* Body Content */
body {
  width: 90%;
  margin: 0 auto;
  background-color: #4C4444;
  border: 2px solid green;
}

.mainBody {
  border: blue 1px solid;
.cat {
  width: 300px;
  height: 300px;
}
}


.none {
  float: right;
  margin: 20px;

}
.fp-pics {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
/* Footer */


/*  Clear Fix Thing */
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
