* {
background-color: black;
text-align: center;
color: white;
font-size: 30px;
font-family: "Courier New", Courier, monospace;
}

body {
  width: 95%;
  margin: 0 auto;
  /* padding-top: 320px; */
}

h1 {
	font-size: 1.5em;
}

/* NAVIGATION BAR START  */

.navbar {
  /* border: solid 1px red; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a {
  color: white;
  display: block;
  margin: 0 20px;;
  padding: .5%;
  /* border: lime solid 1px; */
  /* border-radius: 20px; */
  text-decoration: none;
  font-weight: bold;
}

.active {
  color: lime;
  border-spacing: inherit;
}
/* NAV BAR END */

hr {
  border: 2px solid lime;
  margin: 20px 0;

}


.cont-col {
  border: 1px lime solid;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  padding: 0 5%;

}

.pokeSubmit {
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
}

.reset {
  border-radius: 50%;
  background-color: green;
  width: 50px;
  height: 50px;

}

/* Change the link color to #111 (black) on hover and text to green */
li a:hover {
  color: black;
  background-color: lime;
}
/*  Clear Fix Stuff */
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

/* MEDIA WINDOWS MOVED TO css/media.css for cleanliness */


/* SOCIAL MEDIA LINKS modified from w3schools BRAND icons page */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  background-color: lime;
  color: black;
}
.social {
  padding: 20px;
  font-size: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border: 2px solid lime;
  color: lime;
}
footer p, footer a {
  font-size: 16px;
}
#top a {
  position: relative;
}
